# make artifacts (saved as dotfiles)
.*

# do not ignore these files
!.gitignore
!.github
!.env.docker

# Sphinx documentation
docs/_build/
.buildinfo

# these requirements get copied into local folder by make
fwapg
bcfishobs

# ignore data download folders and their contents
scripts/**/data

# ignore rasters and associated files
*tif
*tif.aux.xml

# docker postgres data folder
postgres-data

# qa folder
qa

# empty make targets for base data
mapping/qgis/WHSE_*
mapping/qgis/TCTR_*