# make artifacts (saved as dotfiles)
.*

# do not ignore these files
!.gitignore
!.github
!.env.docker

# sublime
*.sublime-project
*.sublime-workspace

# Sphinx documentation
docs/_build/
.buildinfo

# ignore data download folders and their contents
model/**/data

# ignore rasters and associated files
*tif
*tif.aux.xml

# docker postgres data folder
postgres-data

# qa folder
qa/*csv

# empty make targets
.make/

# qgis
*.qgs~

# ignore current parameters, just track param in subfolders
parameters/param_habitat.csv
parameters/param_watersheds.csv