name: cwf-test-model
run-name: ${{ github.actor }} Run bcfishpass on CWF test db
on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - 'data/**'
concurrency:
  group: cwf
env:
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
  SSH_USER: ${{ secrets.SSH_USER }}
  SSH_KEY: ${{ secrets.SSH_KEY }}
  SSH_HOST: ${{ secrets.SSH_HOST }}
jobs:
  load-csv:
    runs-on: ubuntu-latest
    environment: cwf-test
    container: ghcr.io/smnorris/bcfishpass:main
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Load weekly refresh
        run:  |
          cp parameters/example_cwf/*csv parameters/
          jobs/connect && jobs/load_csv
          psql -v ON_ERROR_STOP=1 $DATABASE_URL -c "DELETE FROM bcfishpass.parameters_habitat_method WHERE watershed_group_code NOT IN (SELECT watershed_group_code FROM bcfishpass.wcrp_watersheds)"
          cd jobs && ./load_weekly
  load-xings-observations:
    runs-on: ubuntu-latest
    environment: cwf-test
    container: ghcr.io/smnorris/bcfishpass:main
    needs: load-csv
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Load pre-processed data
        run:  |
          jobs/connect
          jobs/load_modelled_stream_crossings
          jobs/load_observations
  model-access-natural:
    runs-on: ubuntu-latest
    environment: cwf-test
    container: ghcr.io/smnorris/bcfishpass:main
    needs: load-xings-observations
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Access model - natural
        run:  |
          jobs/connect
          cd model/01_access && ./01_model_access_natural.sh ch_cm_co_pk_sk st wct
  model-access-anthropogenic:
    runs-on: ubuntu-latest
    environment: cwf-test
    container: ghcr.io/smnorris/bcfishpass:main
    needs: model-access-natural
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Access model - anthropogenic
        run:  |
          jobs/connect
          cd model/01_access && ./02_model_access_anthropogenic.sh
  model-habitat-linear:
    runs-on: ubuntu-latest
    environment: cwf-test
    container: ghcr.io/smnorris/bcfishpass:main
    needs: model-access-anthropogenic
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
            fetch-tags: true
            fetch-depth: 0
      - name: Linear habitat model
        run:  |
          git config --global --add safe.directory /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}
          jobs/connect
          cd model/02_habitat_linear
          ./habitat_linear.sh
      - name: Rank crossings
        run:  |
          for wcrp in bela_atna_necl bessette bonp bowr_ques_carr bulk eagle elkr_dnstr elkr_upstr hors lnic morr tuzistol_tah ulkatcho
          do
            python jobs/auto_rank.py $wcrp
          done