name: ng-test-model
run-name: ${{ github.actor }} Run bcfishpass on test
on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - 'data/**'
concurrency:
  group: ng-test
env:
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
jobs:
  load-csv:
    runs-on: ubuntu-latest
    environment: ng-test
    container: ghcr.io/smnorris/bcfishpass:main
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Run the jobs
        run:  |
          cp parameters/example_newgraph/*csv parameters/
          jobs/load_csv
  load-xings:
    runs-on: ubuntu-latest
    environment: ng-test
    container: ghcr.io/smnorris/bcfishpass:main
    needs: load-csv
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Run the jobs
        run:  jobs/load_modelled_stream_crossings
  prep:
    runs-on: ubuntu-latest
    environment: ng-test
    container: ghcr.io/smnorris/bcfishpass:main
    needs: load-xings
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Run the jobs
        run:  jobs/model_prep
  model-access-1:
    runs-on: ubuntu-latest
    environment: ng-test
    container: ghcr.io/smnorris/bcfishpass:main
    needs: prep
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Access model 1
        run:  |
          cd model/01_access
          ./model_access_1.sh
  model-access-2:
    runs-on: ubuntu-latest
    environment: ng-test
    container: ghcr.io/smnorris/bcfishpass:main
    needs: model-access-1
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Access model 2
        run:  |
          cd model/01_access
          ./model_access_2.sh
  model-habitat-linear:
    runs-on: ubuntu-latest
    environment: ng-test
    container: ghcr.io/smnorris/bcfishpass:main
    needs: model-access-2
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
            fetch-tags: true
            fetch-depth: 0
      - name: Linear habitat model
        run:  |
          git config --global --add safe.directory /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}
          cd model/02_habitat_linear
          ./habitat_linear.sh